<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Коммунальные проблемы Саратовской области</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
	<main>
		<div id="map" class="map"></div>
		<div class="legend">
			<h2> Жилищно-коммунальные проблемы Саратовской обл. </h2>
			<button class="card_1" onclick="filterMarkers('Водоснабжение')">
				<img src="/static/water_supply.png">
				<p> Водоснабжение </p>
			</button>
			<button class="card_2" onclick="filterMarkers('Теплоснабжение')">
				<img src="/static/heat_supply.png">
				<p> Теплоснабжение и горячее водоснабжение </p>
			</button>
			<button class="card_3" onclick="filterMarkers('Электроснабжение')">
				<img src="/static/electricity_supply.png">
				<p> Электроснабжение </p>
			</button>
			<button class="card_4" onclick="filterMarkers('Дорожное хозяйство')">
				<img src="/static/road_infrastructure.png">
				<p> Дорожное хозяйство </p>
			</button>
			<button class="card_5" onclick="filterMarkers('Вывоз ТБО')">
				<img src="/static/trash.png">
				<p> Вывоз ТБО </p>
			</button>
			<button class="card_all" onclick="showMarkers()">
				<p class="card_all"> Показать все </p>
			</button>
		</div>
	</main>
	<script src="https://api-maps.yandex.ru/2.1/?apikey=04115428-c44a-47da-8e64-57b42eaddda3&lang=ru_RU"></script>
	<script src="/static/script.js"></script>
	<script>
        const messages = {{ messages|tojson|safe }};
		run_map(messages);
	</script>
</body>
</html>